body{
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row {
 
  clear: both;
  content: " ";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: rgb(7, 236, 76);
  border: 5px solid rgb(8, 201, 226);
  float: left;
  font-size: 124px;
  font-weight: bold;
  line-height: 134px;
  height: 134px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 134px;
}

.square {
  outline: none;
}

.kbd-navigation.square {
  
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}